<% if(typeof success != 'undefined'){ %>

<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Hooray!</strong> Successfully sent response.
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>

<% } %>

<h1><%=city.name%></h1>

<div class="row">
  <% predictions.forEach(pred => { %>

  <div class="col-12 col-md-4">
    <div class="card">
      <div class="card-header">
        <a href="<%= `/neural-model/${pred.model.id}` %> ">
          <h5><%=pred.model.name%></h5>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%=helpers.renderHourWindow(pred.dt,-1)%></h5>
        <p class="card-text">
          The model predicted:<strong
            ><%=helpers.renderWeatherLabel(pred.result)%></strong
          >
        </p>
        <div class="btn-group" role="group">
          <a
            href="<%= `/predictions/response/${pred.id}/${pred.result}?city=${city.id}` %> "
            class="btn btn-success"
          >
            Thats right
          </a>
          <a
            href="<%= `/predictions/response/${pred.id}/wrong?city=${city.id}` %> "
            class="btn btn-danger"
            >Wrong guess</a
          >
        </div>
      </div>
    </div>
  </div>

  <% }); %>
</div>
