<% if (typeof message !== 'undefined') { %>
<div class="alert alert-success" role="alert"><%= message %></div>

<% } %>

<form action="/neural-model" method="post">
  <div class="mb-3 mt-5">
    <label for="name" class="form-label">Model name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      value="<%=neuralModel.name%>"
    />
  </div>

  <div class="mb-3">
    <label for="city" class="form-label">City</label>
    <select class="form-select" aria-label="Default select example" id="city" name="city">
      <% cities.forEach(city => { %>
         <option value="<%= city.id%>" <%= (city.id == neuralModel.city.id)? 'selected': '' %>><%= city.name%></option>
      <%});%>
    </select>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Neural Network configuration</h5>
      <div class="mb-3">
        <label for="epochs" class="form-label">Initial Training epochs</label>
        <input
          type="number"
          class="form-control"
          id="epochs"
          name="epochs"
          min="1"
          value="<%=neuralModel.epochs || 1 %>"
        />
      </div>

      <div class="mb-3">
        <label for="hiddenLayerCount" class="form-label"
          >Hidden Layer Count</label
        >
        <input
          type="number"
          class="form-control"
          id="hiddenLayerCount"
          name="hiddenLayerCount"
          min="1"
          value="<%=neuralModel.hiddenLayerCount || 1%>"
        />
      </div>

      <div class="mb-3">
        <label for="lstm_count" class="form-label">LSTM Unit Count</label>
        <input
          type="number"
          class="form-control"
          id="lstm_count"
          name="lstm_count"
          min="1"
          value="<%=neuralModel.lstm_count || 1%>"
        />
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Create neural network</button>
</form>
