<h1>All cities</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Lon</th>
      <th scope="col">Lat</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% cities.forEach((city,index) => { %>

    <tr>
      <th scope="row"><%= index %></th>
      <td><a href="city/<%= city.id %>"><%= city.name %></td></a>
      <td><%= city.lon %></td>
      <td><%= city.lat %></td>
      <td><a href="city/<%= city.id%>/delete" class="text-danger"><i class="bi bi-trash3"></i></a></td>
    </tr>

    <% }); %>
  </tbody>
</table>

<a class="btn btn-primary" href="city/new" role="button">New City</a>